<%- include('./includes/header.ejs') %>
    <!-- Dashboard Container -->
    <div class="dashboard-container">
        <%- include('./includes/side-bar.ejs') %>
            <!-- Dashboard Content
    ================================================== -->
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner">

                    <!-- Dashboard Headline -->
                    <div class="dashboard-headline">
                        <h3>
                            Add Tender
                        </h3>

                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs" class="dark">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li>
                                    Add Tender
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Row -->
                    <div class="row">

                        <!-- Dashboard Box -->
                        <div class="col-xl-12">
                            <div class="dashboard-box margin-top-0">
                                <!-- Headline -->
                                <div class="headline">
                                    <h3><i class="icon-feather-award"></i>Add Tender</h3>
                                </div>
                                <%- include ("./partials/messages") %>
                                        <div class="content with-padding padding-bottom-10">
                                            <div class="row">
                                                
                                                    
                                                    <div class="col-xl-4">
                                                        <div class="submit-field">
                                                            <h5>Customer</h5>
                                                            <input type="text" class="with-border"
                                                                name="tender_customer"
                                                                placeholder="Customer">
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-4">
                                                        <div class="submit-field">
                                                            <h5>Beskrivning</h5>
                                                            <input type="text" class="with-border"
                                                                name="tender_description"
                                                                placeholder="Description">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-xl-4">
                                                        <div class="submit-field">
                                                            <h5>Deadline</h5>
                                                            <input type="date" class="with-border" name="tender_deadline">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-xl-4">
                                                        <div class="submit-field">
                                                            <h5>Date of Creation</h5>
                                                            <input type="date" class="with-border" name="tender_date">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-xl-4">
                                                        <div class="submit-field">
                                                            <h5>Last date for questions</h5>
                                                            <input type="date" class="with-border" name="tender_lastDate">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-xl-4">
                                                        <div class="submit-field">
                                                            <h5>Ansvarig</h5>
                                                            <input type="text" class="with-border"
                                                                name="tender_responsible"
                                                                placeholder="Ansvarig">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4">
                                                        <div class="submit-field">
                                                            <h5>Information</h5>
                                                            <input type="text" class="with-border"
                                                                name="tender_information"
                                                                placeholder="Information">
                                                        </div>
                                                    </div>
                                                

                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <button type="button"
                                                onclick="handleSubmitAddTender()"
                                                class="button ripple-effect big margin-top-30 margin-bottom-30">
                                                Save
                                            </button>
                                            <br>
                                        </div>
                            </div>
                        </div>
                    </div>

                    
                    <!-- Row / End -->
                    <%- include('./includes/footer.ejs') %>